.idea
.vs
.agent
.claude
*.user
*.lscache
*.local.props
*.local.md

/artifacts/
/src/**/bin/
/src/**/obj/
/bin
/obj

/Assembly-CSharp/.vs/
/Assembly-CSharp/obj/
/Assembly-CSharp/Assembly-CSharp.csproj

private.pem

__pycache__
