.idea
.vs
.agent
*.user
*.lscache

/bin
/obj
/LogGenerator/bin/
/LogGenerator/obj/
/MetaMystia.Generators/bin/
/MetaMystia.Generators/obj/
/MetaMystia.Protocol/bin/
/MetaMystia.Protocol/obj/

/Assembly-CSharp/.vs/
/Assembly-CSharp/obj/
/Assembly-CSharp/Assembly-CSharp.csproj
/MystiaReverse/
/DebugImpl/

/meta-mystia-network/

private.pem

copilot-instructions.md
.github/memories/

__pycache__

.claude
